.aboutTitle{
    margin-left: 10%;
    margin-top: 30px;
    color: #ffffff;
}

.aboutTitle > p{
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 25px;
}

.aboutTitle > hr{
    float: left;
    margin-bottom: 0;
    border: var(--purple) solid 4px;
    border-radius: 5px;
    width: 90px;
}

.aboutField{
    position: relative;
    margin-top: 75px;
    margin-right: 2.5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background-color: var(--accentGray);
    border-radius: 25px;
    border: var(--purple) solid 5px;
}

.aboutField > p{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color: #ffffff;
}